.pt-8{
    padding-top: 2rem;
}
.pt-24{
    padding-top: 6rem;
}
.py-10{
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
}
.py-24{
    padding-top: 6rem;
    padding-bottom: 6rem;
}
.mb-13{
    margin-bottom: 3.125rem;
}
.mb-28{
    margin-bottom: 7rem;
}
.mb-32{
    margin-bottom: 8rem;
}
.mt-14{
    margin-top: 3.5rem;
}
.mt-20{
    margin-top: 5rem;
}
.mb-24{
    margin-bottom: 6rem;
}
    
@media screen and (min-width:576px){
    .py-sm-9{
        padding-top: 2.25rem;
        padding-bottom: 2.25rem;
    }
    .px-sm-11{
        padding-left:2.75rem;
        padding-right: 2.75rem;
    }
}

@media screen and (min-width:768px){
    .mb-md-32{
        margin-bottom: 8rem;
    }
    .mt-md-52{
        margin-top: 13rem;
    }
}
@media screen and (min-width:992px){
    
}
@media screen and (min-width:1024px){
    .mt-lg-20{
        margin-top: 5rem;
    }
    .mt-lg-52{
        margin-top: 13rem;
    }

}
@media screen and (min-width:1280px){
    .mt-xl-24{
        margin-top: 6rem;
    }

}