
body{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #f3f4f6;
    font-family: iransans;
}
@font-face{
    font-family: iransans;
    src: url(/fonts/FontsFree-Net-ir_sans.ttf);
}

main > div{
    padding-top: 5rem;
    padding-bottom: 4rem;
}
.logo-header{
    margin-bottom: 2.75rem;
}
section{
    padding: 2.25rem 3.125rem;
    width: 29rem;
}
section .signin a:first-child{
    color: rgba(59,130,246,1);
    
}
.signin{
    margin-bottom: 2.25rem;
}
.signin a:last-child{
    color: rgba(255,255,255,1);
    background-color: rgba(59,130,246,1);
    margin-right: 12px;
    height: 3rem !important;
   
}
.signin a{
    
    font-size: 1.125rem;
    line-height: 1.75rem;
}
.hi{
    margin-bottom: 2.25rem;
}
.hi span:first-child{
    font-size: 1.625rem;
    color: rgba(100,116,139,1);
}
.hi span:last-child{
    font-size: .9375rem;
    color: rgba(149,160,177,1);
    font-weight: 500;
}


.boxes-4{
    color: rgba(96,116,150,1);
    font-weight: 500;
    font-size:.9375rem;
    
}
.boxes-4 div{
    height: 3rem;
}
.boxes-4 > div:hover {
    background-color: rgba(59,130,246,.2);
}


/* TYPE 2 SING IN */
.login-type-2 >div >div{
    
}
.line{
    
    border-top: 1px solid;
    color: rgba(149, 160, 177, 0.300);
    position: relative;
    top: 50%;
    transform: translateY(-50%)
}
form input[type="submit"]{
    background-color: rgba(59,130,246,1);
    color: #fff;
    font-weight: 500;
    height: 2.75rem;
}

form input[type="submit"]:hover{
    border: 2px solid;
    background-color: #fff;
    color: rgba(59,130,246,1);
}

form input:not(:last-child){
    padding: .5rem .75rem;
}
form label{
    font-style: 14px !important;
    margin-right: 0.75rem;
    line-height: 1.125rem !important;
    color: rgba(149, 160, 177, 0.43);
}
form a{
    font-size: .75rem;
    color:rgba(59,130,246,1);
    text-decoration: none;
}
 form a:hover{
    text-decoration:underline;
 }   